
#menu ul{
display: flex;
list-style:none;
}
#menu li {
    margin-right: 10px;
}
a{
    text-decoration: none;
    color:hsl(236, 13%, 42%);
}
#buttonMenu img{
    display: none;
}
#buttonClose{
    display: none;
}
@Media (min-width:320px) and (max-width:700px){
    #menu{
        display: none;
        margin: 20px;
    }
    #buttonMenu img{
        display: block;
        cursor: pointer;
    }
    #menu ul{
        display: block;
        margin: 0 10px;
    }
    #buttonClose{
        display: block;
        position: relative;
        right: -20px;
    }
}
