
.topo{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    align-items: center;
}
.tela{
    max-width: 80%;
    margin: 0 auto;
}
.top3{
    max-width: 100%;
    margin-top: 60px;
   display: grid;
   grid-template-columns: auto;
   column-gap: 60px;
}
.post{
    display: flex;
}
.post img{
    height:100%;
    width: 150px;
    margin-right: 20px;
}
.pContent{
    display: flex;
    flex-direction: column;
    
}
.id{
    font-size: 50px;
}
.pContent p{
    margin: 0;
}
.pContent h2{
    margin: 0;
}

@media (min-width:320px) and (max-width:700px){
    .top3{
        display:grid;
        grid-template-columns: 1fr;
        gap: 20px;
        
    }
}